.home{
    background-color: $bg-color;
    display: grid;
    padding-top: 50px + $navbar-height;

    grid-template-columns: repeat(2, $postcard-height);
    grid-template-rows: repeat(5, $postcard-width);
    grid-gap: $postcard-gap-vertical $postcard-gap-horizontal;

    justify-content: center;

    @media (max-width: 1200px){
        grid-template-columns: repeat(1, $postcard-height);
        grid-template-rows: repeat(10, $postcard-width);
        grid-gap: $postcard-gap-vertical $postcard-gap-horizontal;
    }
}