.postcard{
    // background-color: teal;
    background-size: cover;
    border-radius: 4px;
    display: flex;
    box-shadow: 0px 0px 41px -15px rgba(0,0,0,0.8);
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    &__title{
        font-size: 1.4em;
        font-weight: 900;
    }
    &__date{
        font-size: 0.7em;
        color: $postcard-color-date;
        font-weight: 700;
        padding-top: 3px;
    }
    &__button_link{
        align-self: flex-end;
        margin-top: auto;
        color: black;
    } 
    &__button{
        height: 35px;
        font-size: 0.7em;
        font-weight: 700;
        background-color: transparent;
        color: black;

        border: solid 2px black;
        border-radius: 5px;
        &:hover{
            background-color: white;
        }
    }

    &__tags_container{
        padding-top: 5px;
        display: inline;
    }
    &__tag{
        height: 20px;
        font-size: 0.6em;
        font-weight: 700;
        background-color: transparent;
        margin-right: 8px;

        border: solid 2px black;
        border-radius: 7px;
        
    }
    &__tag_link{
        text-decoration: none;
        color: black;
    }
}