.post{
    padding-top: $navbar-height;
    &__container{
        background-color: white;
        
        //margin-top: 50px;
        width: 1000px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;;
        margin-bottom: 50px;
        box-shadow: 0px 0px 41px -15px rgba(0,0,0,0.8);
    }
    &__content_container{
        padding: 20px;
    }
    &__img{
        width: 1000px;
        height: 500px;
        object-fit: cover;
    }
    &__author_container{
        display: flex;
        flex-direction: row;
        // background-color: red;
        height: 50px;
    }
    &__author_name_container{
        display: flex;
        flex-direction: column;
        height: 50px;
        padding-left: 15px;
        // background-color: blue;
    }
    &__avatar{
        border-radius: 50px;
        height: 50px;
        width: 50px;
    }
    &__markdown{
        padding-top: 30px;
    }
}