.header{
    background-color: lawngreen;
    width: 100%;
    height: $navbar-height;
    // background: $header_color;
    position: fixed;
    top: 0px;
}

.navigation{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    line-height: $navbar-height;
    font-size: 0.8em;
    box-sizing: border-box;
    padding-left: 55px;
    padding-right: 55px;
    background-color: $header_color;

    &__ul{
        list-style: none;
        border-radius: 10px;
        &--dropdown{
        }
    }
    
    &__element
    {
        //display: inline;
        display:inline-block;
        align-self: flex-end;
        flex: 1 1 auto;
        font-weight: 700;
        background-color: $header_element_color;
        justify-content: flex-end;
        padding-right: 15px;
        height: 100%;
        &--logo
        {
            display: inline;
            flex: 99 1 auto;
            font-size: 1.8em;
            font-weight: 900;
            justify-content: flex-start;
        }
        &--dropdown
        {
            
            height: 50px;
            list-style: none;
            display: flex;
            align-items: center;
            background-color: $header_color;
            >a{
                background-color: $header_color;
                padding-left: 30px;
                // padding-top: 3px;
                height: 100%;
                width: 100%;
                line-height: 50px;
                display: block;
                // background-color: gold;
                // text-decoration: none;
                // color: $font-color;
            }
        }
    }
    &__link{
        justify-content: flex-end;
        text-decoration: none;
        color: $font-color;
        &:active {
            color: red;
            
        }
        &:hover {
            color: $link-color-onHover;
        }
    }
    
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: $navbar-height; /* the height of the main nav */
    background-color: $header_color;	
    
    
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
    background-color: $header_color;
    
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
    width: 200px;
    right: 200px;
	background-color: $header_color;
    position: relative;
    float: none;
}