@fontface {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto:400,700,900')
}

body {
    margin: 0;
    padding: 0;
    background: $bg-color;
    color: $font-color;;

    font-family: 'Roboto', sans-serif;
}