//Variables

//Font colors
$font-color: black;
$link-color-onHover: magenta;

//Backgrounds color
$bg-color: #eeeeee;

$navbar-height: 90px;

//postcards
$postcard-height: 550px;
$postcard-width: 300px;
$postcard-color-date: pink;
$postcard-gap-horizontal: 60px;
$postcard-gap-vertical: 70px;

//header
$header_color: $bg-color;
$header_element_color: $bg-color;