.page404{

    padding-top: $navbar-height - 20px;

    // grid-template-columns: repeat(2, $postcard-height);
    // grid-template-rows: repeat(5, $postcard-width);
    // grid-gap: $postcard-gap-vertical $postcard-gap-horizontal;
    // background-color: saddlebrown;
    height: 100%;
    width: 100%;
    // justify-content: center;
    display: flex;
    // justify-content: center;
    //     align-items: center;
    //     align-content: center;
    //     flex-direction: row;
    align-items: flex-start;
    

    &__container{
        display: flex;
        align-self: flex-end;
        margin-top: auto;
        color: black;
        display: flex;
    justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        // background-color: forestgreen;
    } 
    &__button_link{
        align-self: flex-end;
        margin-top: auto;
        color: black;
    } 
    &__button{
        height: 35px;
        font-size: 0.6em;
        font-weight: 700;
        background-color: transparent;
        color: black;
        
        
        border: solid 2px black;
        border-radius: 5px;
        &:hover{
            background-color: white;
        }
    }
    &__information_text{
        font-size: 1.7em;
        padding-top: 60px;
        padding-bottom: 40px;
        font-weight: 700;
    }
}